@import "../../styles/variables.scss";





.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('//cdn.shopify.com/s/files/1/0598/2194/9121/files/urban-vintage-denimn-on-hangers_600x.jpg?v=1676042045');

  min-height: 30rem;



  .banner_div {
    padding: 40px 50px;

    .banner_heading {


      color: #ffffff;
      margin-top: 70px;
      font-family: Poppins;
      font-size: 60px;
      font-weight: 600;

      line-height: 80px;


    }

    .banner_text {


      color: #ffffff;
      font-size: 1.4rem;
      line-height: 35px;
      text-align: center;
      padding: 1.5rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    .banner_buttons {
      gap: 50px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: auto;

      .banner_button_shop {


        display: inline-block;
        width: 12rem;
        background: #43A106;

        text-align: center;
        border-radius: 32px;
        color: white;
        font-weight: 400;
        line-height: 25px;

        margin-bottom: 2 rem;
      }

      .banner_button_learn {
        width: 18rem;
        height: 3.5rem;
        background: #FFFFFF;
        color: #43A106;
        text-align: center;
        border-radius: 32px;
        font-weight: 400;
        display: inline-block;


        span {
          margin-right: 0.7rem;

        }
      }


    }

  }






  @media only screen and (max-width: 767px) {
    .banner_heading {
      color: #ffffff;
      margin-top: 70px;
      font-family: Poppins;
      font-size: 40px !important;
      font-weight: 600 !important;
      line-height: 40px !important;
      letter-spacing: 0;
      text-align: center;

    }

    .banner_text {

      font-size: 1.0rem !important;
      font-weight: 400 !important;
      line-height: 25px !important;
      text-align: center !important;
      padding: 1.5rem !important;
      margin-bottom: 2rem !important;
    }

    .banner_buttons {
      gap: 20px;
      display: flex;
      justify-content: space-around;
      flex-direction: column !important;
      align-items: center;
      height: auto;
    }
  }

}