@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(0, 0, 0);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: #e9cdb0;

// fonts




h1, h2, h3, h4, h5, h6, .title, .large-title, .giant-title, .massive-title, .biggest-title, .standard-title, .small-title, .section-popup.cc-popup .cc-popup-title, #shopify-product-reviews .spr-form-title, #shopify-product-reviews .spr-header-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.1em;
    letter-spacing: -0.025em;
    text-transform: none;
    word-break: break-word;
    font-size: 34px;
}
p {
    margin: 15px 0;
    color: #333333;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 0.025em;
}
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

// button



  button {
       
    line-height: 1.4em;
        min-width: 148px;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: auto;
        border-radius: 20px;
        border: 0;
        font-size: 1rem;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
     
        letter-spacing: inherit;
        white-space: normal;
        box-shadow: 0 0 0 1px #43a106;
        background-color: #43a106;
        color: #ffffff;
        transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
    }

    @media only screen and (max-width: 767px){
    h1, h2 {
        font-size:calc(34px * 0.825);
    }
    p{
        font-size: 14px;
         }
}

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media only screen and (min-width: 48em) {
            @content;
        }
    }
}
