
  .newsletter_wrapper{
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  .newsletter {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 2px 5px #ccc;
    padding: 40px;
flex-direction: column;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsletter_title{
        text-align: center !important;
        margin: 20px 0 !important;
        font-size: 34px;
        display: block !important;
    }
  .newsletter p {
    font-size: 1.1em;
    margin-bottom: 10px;
  
  }
  
  }
  }