@import "../../styles/variables.scss";

.testimonial_slider {
  display: flex;
  flex-direction: column;
 
  margin-top: 0px;

  .testimonial_items {
  
    display: flex;
    align-content: center;
    justify-content: space-around;
    

  .testimonial {
    padding: 0 20px;
 .testimonial_rating{
height: 20px;
width: 80px;
display: inline-flex;
align-items: center;
justify-content: center;
color: #f5c346;

 }

  .testimonial_content {
   
  }

  
  .testimonial_name {
 
  }
  
  }
  }
  
  .testimonial_navigation {
 cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 0 0 0;

    .testimonial_navigationbutton{
    border: none !important;
    border-radius: 50px!important;
    padding: 3px!important;
    margin-left: 5px!important;
    background: #000!important;
    }
  }
  
  }
  
  