.logolist_wrapper{

    padding-left: 30px;
    padding-right: 30px;
   
    width: 100%;
    .logolist_title{
        text-align: center !important;
        margin: 40px 0 20px 0 !important;
        font-size: 34px;
        display: block !important;
    }
    .logolist_listsection{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .logolist{
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
      
        padding: 30px;
        .logolist_logo{
            // margin: 0 15px 30px;
            flex: 0 0 calc(20% - 30px);
            display: flex;
            flex-direction: column;


            .logolist_logoimage{
                display: flex;
                align-items: center;
                flex: 1 1 100%;
                margin: 0 auto;
                width: 100%;
                transition: opacity 200ms;
                max-width: 110px;
                

                .image_outer_wrapper{
                    margin-left: auto;
                    margin-right: auto;
                        flex: 1 1 100%;
               .image_wrapper{
                position: relative;
    transition: background 500ms;
    margin-top: 0.6rem;
               }
                }
          
            }




        }
    }
    }



    @media only screen and (max-width: 767px){

           
        .logolist {
            display: flex!important;
            flex-wrap: wrap!important;
            justify-content: center;
            text-align: center;
       
          gap: 30px;
            
           .last_logo{    width: 80px;
            margin-top: 40px;}
       

        }

       
    }
}

