
  .blog_wrapper{
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  .blog {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 2px 5px #ccc;
    padding: 40px;
    flex-direction: column;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
 
  
  }
  }