.imagetext_wrapper {

    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;



    .textimage_container {


        border-radius: 20px;
        background-color: #ffffff;
        color: #333333;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .textimage_image {
            max-height: 27rem;

            width: 50%;

            .textimage_imagesize {
                height: 100%;
                width: 100%;
                padding: 0;

                img {
                    height: 100%;
                    width: 100%;
                   
                   
                }
            }

        }

        .textimage_textcontent {
            text-transform: none !important;
            max-height: 27rem;
            padding: 30px 60px;
            width: 50%;
            font-weight: normal;


            .imagetext_title {
                text-align: left !important;
            }
        }





    }

    @media only screen and (max-width: 767px) {

        .textimage_container {
            display: block;

            .textimage_image {
                height: 430px;


                width: 100%;
            }
        }

        .textimage_textcontent {
            text-transform: none !important;
            max-height: 27rem;

            padding: 20px !important;
            width: 100% !important;
        }

        button {
            margin-bottom: 40px;
        }
    }
}